<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.project.base.resource">
	
	<application>
		<activity
			android:name=".EmptyActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".web.LoadUrlWebActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".web.LoadDataWebActivity"
			android:screenOrientation="portrait"/>
	</application>

</manifest>